force-app/main/default/flows/SAM_gov_Entity_Search_Cage_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends query parameters to the Entity Management endpoint to search for organizations based on criteria. Include the correct optional query param for the search you are looking to perform.</description>
        <name>SAM_gov_Search_Entity_Cage_Code</name>
        <label>SAM.gov Search Entity - Cage Code</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>samGovEntitySearch.Search Entity</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Successful_Query</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_HTTP_Callout_Failure_Response</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cageCode</name>
            <value>
                <elementReference>cageCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>api_key</name>
            <value>
                <elementReference>api_key</elementReference>
            </value>
        </inputParameters>
        <nameSegment>samGovEntitySearch.Search Entity</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Will set a boolean flag and message with the error code and reason to return back to the parent Flow alerting the user and runtime if the SAM.gov API endpoint did not return a 200 response.</description>
        <name>Set_API_Failure_Response</name>
        <label>Set API Failure Response</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>failureResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmApiFailureResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>samGovCalloutSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Will set a boolean flag to return back to the parent Flow alerting the runtime that the API call was successful.</description>
        <name>Set_API_Success_Response</name>
        <label>Set API Success Response</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>samGovCalloutSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transform_Query_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Will set a message to return back to the parent Flow alerting the user if the HTTP Callout function errored out.</description>
        <name>Set_HTTP_Callout_Failure_Response</name>
        <label>Set HTTP Callout Failure Response</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>failureResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HTTP Callout did not run as expected. Debug the Flow for further details.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>samGovCalloutSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Will set a message to return back to the parent Flow alerting the user if the API key is missing.</description>
        <name>Set_Metadata_Failure_Response</name>
        <label>Set Metadata Failure Response</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>failureResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>API key missing or unrecognized.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>samGovCalloutSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Since the Transform element cannot be set as an Output variable on its own, this step sets the Transform response to another variable of the same Apex-defined type (e.g. entityRegistration) which can be returned to the parent Flow.</description>
        <name>Set_Transform_Collection_for_Output</name>
        <label>Set Transform Collection for Output</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>samGovEntityRegistrationValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Query_Response</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks the value of the Response Code from the Entity Management callout to determine if the API call was successful. View the documentation for information on response codes and their associated error messages: https://open.gsa.gov/api/entity-api/#http-response-codes</description>
        <name>Successful_Query</name>
        <label>Successful Query</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_API_Failure_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Query Failed</defaultConnectorLabel>
        <rules>
            <name>Query_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAM_gov_Search_Entity_Cage_Code.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_API_Success_Response</targetReference>
            </connector>
            <label>Query Success</label>
        </rules>
    </decisions>
    <description>Searches the SAM.gov Entity Management API based on Unique Entity Identifier (UEI) SAM, CAGE Code, Doing Business As (DBA) Name, or Legal Business Name</description>
    <environments>Default</environments>
    <formulas>
        <name>frmApiFailureResponse</name>
        <dataType>String</dataType>
        <expression>&quot;The SAM.gov API did not return the expected response. Response: &quot; + TEXT({!SAM_gov_Search_Entity_Cage_Code.responseCode}) + &quot;; &quot; + {!SAM_gov_Search_Entity_Cage_Code.defaultExc}</expression>
    </formulas>
    <interviewLabel>SAM.gov Entity Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAM.gov Entity Search - Cage Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the API Key from the custom metadata type for use in the query params of the SAM.gov Search Entity HTTP callout</description>
        <name>Get_API_Key</name>
        <label>Get API Key</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SAM_gov_Search_Entity_Cage_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Metadata_Failure_Response</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <object>SAM_gov_Configuration__mdt</object>
        <outputAssignments>
            <assignToReference>api_key</assignToReference>
            <field>api_key__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_API_Key</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>Maps the data from the HTTP Callout to the Apex-defined data structure configured through the External Service. There are multiple Apex-defined variable types for the different data segments returned from the callout. This transformation ONLY focuses on the entityRegistration information. If more data needs to be returned to the parent Flow (e.g. for address information), a new/separate Transform element will need to be added to the flow.</description>
        <name>Transform_Query_Response</name>
        <label>Transform Query Response</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <apexClass>ExternalService__samGovEntitySearch_Searchx20Entity_OUT_2XX_entityData_entityRegistration</apexClass>
        <connector>
            <targetReference>Set_Transform_Collection_for_Output</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>activationDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.activationDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>cageCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.cageCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>dbaName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.dbaName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>dnbOpenData</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.dnbOpenData</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>dodaac</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.dodaac</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>entityEFTIndicator</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.entityEFTIndicator</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>evsSource</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.evsSource</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>exclusionStatusFlag</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.exclusionStatusFlag</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>exclusionURL</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.exclusionURL</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>lastUpdateDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.lastUpdateDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>legalBusinessName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.legalBusinessName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>publicDisplayFlag</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.publicDisplayFlag</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>purposeOfRegistrationCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.purposeOfRegistrationCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>purposeOfRegistrationDesc</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.purposeOfRegistrationDesc</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>registrationDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.registrationDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>registrationExpirationDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.registrationExpirationDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>registrationStatus</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.registrationStatus</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>samRegistered</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.samRegistered</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ueiCreationDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.ueiCreationDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ueiExpirationDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.ueiExpirationDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ueiSAM</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.ueiSAM</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ueiStatus</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SAM_gov_Search_Entity_Cage_Code.2XX.entityData[$EachItem].entityRegistration.ueiStatus</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>api_key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Allows a single 5-character value or up to 100 values.</description>
        <name>cageCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>failureResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds a boolean value for the parent Flow to alert the runtime of a successful or failed response. Used in conjunction with the failure response to help debug and direct troubleshooting efforts in the event of a negative result.</description>
        <name>samGovCalloutSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>samGovEntityRegistrationValues</name>
        <apexClass>ExternalService__samGovEntitySearch_Searchx20Entity_OUT_2XX_entityData_entityRegistration</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
